@page "/dap/GetQuote"
@page "/dap/QuoteResult"
@using static FinancialExtensions;

<style>
    .dap-checkbox p { font-weight: bold; }

    .invoice-table {
        border: 1px solid gray;
        border-collapse: collapse;
        padding: 10px;
    }

    .dap-result-checkbox { font-weight: bold; }

    .total-row {
        background-color: #e0d5cb;
        font-weight: bold;
    }

    .header-row { background-color: #747480; }

    .terms { cursor: pointer; }
</style>

@if (!_showResult)
{
    <MudGrid>
        <MudItem xs="12" sm="12" md="12" lg="12" xl="12">
            <MudGrid>
                <MudItem xs="12" sm="6" md="6" lg="6" xl="6">
                    <MudHidden Breakpoint="Breakpoint.Xs">
                        <MudText Typo="Typo.h4" Color="Color.Primary">DAP Quote</MudText>
                    </MudHidden>
                    <MudHidden Breakpoint="Breakpoint.Xs" Invert="true">
                        <MudStack Row="true" Justify="Justify.Center" AlignItems="AlignItems.Center">
                            <MudIcon Color="Color.Primary" Icon="@Icons.Material.Outlined.RequestQuote"/>
                            <MudText Typo="Typo.h6" Color="Color.Primary">DAP Quote</MudText>
                        </MudStack>
                    </MudHidden>
                </MudItem>
            </MudGrid>
        </MudItem>
        <MudItem xs="12" sm="12" md="12" lg="12" xl="12">
            <MudHidden Breakpoint="Breakpoint.Xs">
                <MudPaper Class="mud-width-full pa-2">
                    <MudForm @ref="_form" @bind-IsValid="@_isValid" Model="@_quoteRequest"
                             Validation="@(_dapQuoteRequestValidator.ValidateValue)" ValidationDelay="0">
                        <MudStack AlignItems="AlignItems.Start" Spacing="2">
                            <AuthorizeView Policy="ManualQuoteDap">
                                <MudCheckBox Class="dap-checkbox" T="bool" Label="Switch to manual mode"
                                             @bind-Checked="@EnabledManualOption"/>
                            </AuthorizeView>
                            <MudText Class="ms-2" Style="font-weight: bold;">Select Type</MudText>
                            <MudRadioGroup T="string" @bind-SelectedOption="@_quoteRequest.Type" Required="true"
                                           RequiredError="Please select type.">
                                <MudRadio Class="ms-2" Dense="true" Option="@("DAP")">DAP (Without Customs Clearance)</MudRadio>
                                <MudRadio Class="ms-2" Dense="true" Option="@("DDU")">DAP (With Customs Clearance)</MudRadio>
                            </MudRadioGroup>
                        </MudStack>
                        <MudText Class="mt-3 ms-2" Style="font-weight: bold;">Final Destination Pincode</MudText>
                        <MudTextField T="string" @bind-Value="@_quoteRequest.ToPincode" Required="true"
                                      RequiredError="Please enter Final Destination Pincode." Class="ms-2"
                                      Placeholder="Enter Final Destination Pincode" Variant="Variant.Outlined" Margin="Margin.Dense"
                                      InputType="InputType.Text" For="@(() => _quoteRequest.ToPincode)" Immediate="false"/>
                        <div class="d-flex">
                            <MudText Class="mt-6 ms-2" Style="font-weight: bold;">Weight</MudText>
                            <MudText Class="mt-6 ms-2">Kgs</MudText>
                            <MudSwitch T="bool" @bind-Checked="@_quoteRequest.IsWeightInLBs" Style="margin: 17px 0px 0px 0px"
                                       Color="Color.Secondary"/>
                            <MudText Class="mt-6">LBs</MudText>
                        </div>
                        <MudTextField T="double" @bind-Value="@_quoteRequest.Weight" Required="true" Class="ms-2"
                                      Placeholder="Enter Weight" Variant="Variant.Outlined" Margin="Margin.Dense" HelperText="Enter Weight"
                                      InputType="InputType.Number" For="@(() => _quoteRequest.Weight)" Immediate="true"/>
                        <MudText Class="mt-6 ms-2" Style="font-weight: bold;">Volume in CBM</MudText>
                        <MudTextField T="double" @bind-Value="@_quoteRequest.Cbm" Required="true" Class="ms-2"
                                      Placeholder="Enter Volume in CBM" Variant="Variant.Outlined" Margin="Margin.Dense" HelperText="Enter Volume"
                                      InputType="InputType.Number" For="@(() => _quoteRequest.Cbm)" Immediate="true"/>

                        <div class="d-flex">
                            <MudCheckBox Required="true" RequiredError="You must agree." Class="dap-checkbox" T="bool" @bind-Checked="@Terms_Dap"
                                         Label="I Agree" Style="font-weight: bold;"/>
                            <MudText @onclick="@ShowTermsAndConditions" Color="Color.Secondary" Class="terms mt-3 ms-2">
                                Terms &
                                Conditions
                            </MudText>
                        </div>

                        <div class="mt-3" style="text-align: center;">
                            <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="GetQuote" Size="Size.Small">
                                Get Quote
                            </MudButton>
                        </div>
                    </MudForm>
                </MudPaper>
            </MudHidden>
            <MudHidden Breakpoint="Breakpoint.Xs" Invert="true">
                <MudPaper Class="mud-width-full pa-2">
                    <MudForm @ref="_form" @bind-IsValid="@_isValid" Model="@_quoteRequest"
                             Validation="@(_dapQuoteRequestValidator.ValidateValue)" ValidationDelay="0">
                        <MudStack AlignItems="AlignItems.Start" Spacing="2">
                            <AuthorizeView Policy="ManualQuoteDap">
                                <MudCheckBox Class="dap-checkbox" T="bool" Label="Switch to manual mode"
                                             @bind-Checked="@EnabledManualOption"/>
                            </AuthorizeView>
                            <MudText Class="ms-2" Style="font-weight: bold;">Select Type</MudText>
                            <MudRadioGroup Class="ms-2" T="string" @bind-SelectedOption="@_quoteRequest.Type" Required="true"
                                           RequiredError="Please select type.">
                                <MudRadio Class="ms-2" Dense="true" Option="@("DAP")">DAP (Without Customs Clearance)</MudRadio>
                                <MudRadio Class="ms-2" Dense="true" Option="@("DDU")">DAP (With Customs Clearance)</MudRadio>
                            </MudRadioGroup>
                        </MudStack>
                        <MudText Class="mt-3 ms-2" Style="font-weight: bold;">Final Destination Pincode</MudText>
                        <MudTextField T="string" @bind-Value="@_quoteRequest.ToPincode" Required="true"
                                      RequiredError="Please enter Final Destination Pincode." Class="ms-2"
                                      Placeholder="Enter Final Destination Pincode" Variant="Variant.Text" Margin="Margin.Dense"
                                      InputType="InputType.Text" For="@(() => _quoteRequest.ToPincode)" Immediate="false"/>
                        <div class="d-flex">
                            <MudText Class="mt-6 ms-2" Style="font-weight: bold;">Weight</MudText>
                            <MudText Class="mt-6 ms-2">Kgs</MudText>
                            <MudSwitch T="bool" @bind-Checked="@_quoteRequest.IsWeightInLBs" Style="margin: 17px 0px 0px 0px"
                                       Color="Color.Secondary"/>
                            <MudText Class="mt-6">LBs</MudText>
                        </div>
                        <MudTextField T="double" @bind-Value="@_quoteRequest.Weight" Required="true" Class="ms-2"
                                      Placeholder="Enter Weight" Variant="Variant.Text" Margin="Margin.Dense" HelperText="Enter Weight"
                                      InputType="InputType.Number" For="@(() => _quoteRequest.Weight)" Immediate="true"/>
                        <MudText Class="mt-6 ms-2" Style="font-weight: bold;">Volume in CBM</MudText>
                        <MudTextField T="double" @bind-Value="@_quoteRequest.Cbm" Required="true" Class="ms-2"
                                      Placeholder="Enter Volume in CBM" Variant="Variant.Text" Margin="Margin.Dense" HelperText="Enter Volume"
                                      InputType="InputType.Number" For="@(() => _quoteRequest.Cbm)" Immediate="true"/>

                        <div class="d-flex">
                            <MudCheckBox Required="true" RequiredError="You must agree." Class="dap-checkbox" T="bool"
                                         Label="I Agree" Style="font-weight: bold;" @bind-Checked="@Terms_Dap"/>
                            <MudText @onclick="@ShowTermsAndConditions" Color="Color.Secondary" Class="terms mt-3 ms-2">
                                Terms &
                                Conditions
                            </MudText>
                        </div>

                        <div class="mt-3" style="text-align: center;">
                            <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="GetQuote" Size="Size.Small">
                                Get
                                Quote
                            </MudButton>
                        </div>
                    </MudForm>
                </MudPaper>
            </MudHidden>
        </MudItem>
    </MudGrid>
}
else if (_enabledManualOption && _showFinalResult == false)
{
    <DAPManualModeUpdate DAPInputData="_quoteInputData"
                         DAPQuoteData="_quoteData"
                         DAPQuoteResult="_dapQuoteResult"
                         CustomsClearanceRequired="_quoteData.Type.ToUpper().Equals(QuoteType.DDU.ToString())"
                         OnNewRequest="NewRequest"
                         OnUpdate="x => _showFinalResult = true"/>
}
else
{
    <MudGrid>
    <MudItem xs="12" sm="12" md="12" lg="12" xl="12">
        <MudGrid>
            <MudItem xs="12" sm="12" md="12" lg="12" xl="12">
                <MudHidden Breakpoint="Breakpoint.Xs">
                    @if (_quoteRequest.Type!.Equals("DAP"))
                    {
                        <MudText Typo="Typo.h4" Color="Color.Primary">DAP (Without Customs Clearance) Quotation (@(_dapQuoteResult.ReferenceNumber))</MudText>
                    }
                    else
                    {
                        <MudText Typo="Typo.h4" Color="Color.Primary">DAP (With Customs Clearance) Quotation (@(_dapQuoteResult.ReferenceNumber))</MudText>
                    }

                </MudHidden>
                <MudHidden Breakpoint="Breakpoint.Xs" Invert="true">
                    <MudItem xs="12" sm="12" md="12" lg="12" xl="12">
                        <MudStack Row="true" Justify="Justify.Center" AlignItems="AlignItems.Center" Class="flex-wrap">

                            @if (_quoteRequest.Type!.Equals("DAP"))
                            {
                                <MudText Typo="Typo.h6" Color="Color.Primary">DAP (Without Customs Clearance)</MudText>
                                <MudText Typo="Typo.h6" Color="Color.Primary">Quotation (@(_dapQuoteResult.ReferenceNumber))</MudText>
                            }
                            else
                            {
                                <MudText Typo="Typo.h6" Color="Color.Primary">DAP (With Customs Clearance)</MudText>
                                <MudText Typo="Typo.h6" Color="Color.Primary">Quotation (@(_dapQuoteResult.ReferenceNumber))</MudText>
                            }
                        </MudStack>
                    </MudItem>
                </MudHidden>
            </MudItem>
        </MudGrid>
    </MudItem>

    <MudItem xs="12" sm="12" md="12" lg="12" xl="12">
    <MudPaper>
    <MudItem xs="12" sm="12" md="12" lg="12" xl="12" Class="mt-1">
        <MudGrid Class="ms-1 justify-start">
            <MudItem xs="6" sm="6" md="4" lg="4" xl="4">
                <MudText>Weight</MudText>
                <MudText Style="font-weight: bold;">
                    @_quoteInputData.Weight @_quoteInputData.WeightType
                </MudText>
            </MudItem>
            <MudItem xs="6" sm="6" md="4" lg="4" xl="4">
                <MudText>CBM</MudText>
                <MudText Style="font-weight: bold;">@_quoteInputData.Cbm</MudText>
            </MudItem>
            <MudItem xs="12" sm="12" md="4" lg="4" xl="4">
                <MudText>Pincode, Location, State</MudText>
                <MudText Style="font-weight: bold;">
                    @_quoteInputData.ToPincode,
                    @_quoteData.Locations.FirstOrDefault()
                </MudText>
            </MudItem>
        </MudGrid>
    </MudItem>
    @foreach (var via in _quoteData.SplittedDataDetails.Vias)
    {
        <MudItem Class="mt-3" style="border: 1px solid gray; border-radius: var(--mud-default-borderradius);"
                 xs="12" sm="12" md="12" lg="12" xl="12">
            <MudExpansionPanels Dense="true" DisableGutters="true">
                <MudExpansionPanel HideIcon="false" IsInitiallyExpanded="true"
                                   style="background-color: var(--mud-palette-table-hover);">
                    <TitleContent>
                        <div class="d-flex justify-start flex-grow-1">
                            <MudText Typo="Typo.subtitle1">Via : @via.Name</MudText>
                        </div>
                    </TitleContent>
                    <ChildContent>
                        @if (_quoteData.Type.ToUpper().Equals(QuoteType.DAP.ToString()))
                        {
                            <MudItem Class="mb-1" Style="background-color: var(--mud-palette-surface);" xs="12"
                                     sm="12" md="12" lg="12" xl="12">
                                <table style="border: 1px solid lightgrey; border-collapse: collapse; width: 100%;">
                                    <tr>
                                        <th class="invoice-table" style="text-align: start">
                                            <b>Particulars</b>
                                        </th>
                                        <th class="invoice-table" style="text-align: end">
                                            <b>&#8377; INR</b>
                                        </th>
                                    </tr>
                                    <tr>
                                        <td class="invoice-table">Door delivery Charges</td>
                                        <td class="invoice-table" style="text-align: right">
                                            @FormatAmount(via.Charges.TransportationCost.Rupee)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="invoice-table">Post Landing Charges</td>
                                        <td class="invoice-table" style="text-align: right">
                                            @FormatAmount(via.Charges.PlcPerWm.Rupee)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="invoice-table">Subtotal</td>
                                        <td class="invoice-table" style="text-align: right">
                                            @FormatAmount(via.Charges.SubTotal.Rupee)
                                        </td>
                                    </tr>
                                    <tr class="total-row">
                                        <td class="invoice-table">
                                            <b>GSTat 18%</b>
                                        </td>
                                        <td class="invoice-table" style="text-align: right">
                                            @FormatAmount(via.Charges.GstData.Rupee)
                                        </td>
                                    </tr>
                                    <tr class="total-row">
                                        <td class="invoice-table">
                                            <b>Total in INR</b>
                                        </td>
                                        <td class="invoice-table" style="text-align: right">@FormatAmount(via.Charges.Total.Rupee)</td>
                                    </tr>
                                    <tr class="total-row">
                                        <td class="invoice-table">
                                            <b>Total in USD</b>
                                        </td>
                                        <td class="invoice-table" style="text-align: right">
                                            @FormatAmount(via.Charges.Total.Dollar)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <MudText Typo="Typo.caption">
                                                &#9432;GST @via.Charges.Gst&#37; &#9432; Exchange Rate as on
                                                @($"{_quoteData.Date.ToLocalTime().ToString("dd-MMM-yyyy hh:mm:ss")}") 1
                                                USD = @_quoteData.ConversionRateInr INR
                                            </MudText>
                                        </td>
                                    </tr>
                                </table>
                            </MudItem>
                        }
                        else if (_quoteData.Type.ToUpper().Equals(QuoteType.DDU.ToString()))
                        {
                            <MudItem Class="mb-1" Style="background-color: var(--mud-palette-surface);" xs="12"
                                     sm="12" md="12" lg="12" xl="12">
                                <table style="border: 1px solid lightgrey; border-collapse: collapse; width: 100%;">
                                    <tr>
                                        <th class="invoice-table" style="text-align: start">
                                            <b>Particulars</b>
                                        </th>
                                        <th class="invoice-table" style="text-align: end">
                                            <b>&#8377; INR</b>
                                        </th>
                                    </tr>
                                    <tr>
                                        <td class="invoice-table">Customs Clearance per Invoice</td>
                                        <td class="invoice-table" style="text-align: right">
                                            @FormatAmount(via.Charges.CustomClearance.Rupee)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="invoice-table">Door delivery Charges</td>
                                        <td class="invoice-table" style="text-align: right">
                                            @FormatAmount(via.Charges.TransportationCost.Rupee)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="invoice-table">Post Landing Charges</td>
                                        <td class="invoice-table" style="text-align: right">
                                            @FormatAmount(via.Charges.PlcPerWm.Rupee)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="invoice-table">Subtotal</td>
                                        <td class="invoice-table" style="text-align: right">
                                            @FormatAmount(via.Charges.SubTotal.Rupee)
                                        </td>
                                    </tr>
                                    <tr class="total-row">
                                        <td class="invoice-table">
                                            <b>GST at 18%</b>
                                        </td>
                                        <td class="invoice-table" style="text-align: right">
                                            @FormatAmount(via.Charges.GstData.Rupee)
                                        </td>
                                    </tr>
                                    <tr class="total-row">
                                        <td class="invoice-table">
                                            <b>Total in INR</b>
                                        </td>
                                        <td class="invoice-table" style="text-align: right">@FormatAmount(via.Charges.Total.Rupee)</td>
                                    </tr>
                                    <tr class="total-row">
                                        <td class="invoice-table">
                                            <b>Total in USD</b>
                                        </td>
                                        <td class="invoice-table" style="text-align: right">
                                            @FormatAmount(via.Charges.Total.Dollar)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" class="pa-2">
                                            <MudText Typo="Typo.caption">
                                                &#9432;GST @via.Charges.Gst&#37; &#9432; Exchange Rate as on
                                                @($"{_quoteData.Date.ToLocalTime().ToString("dd-MMM-yyyy hh:mm:ss")}") 1
                                                USD = @_quoteData.ConversionRateInr INR
                                            </MudText>
                                        </td>
                                    </tr>
                                </table>
                            </MudItem>
                        }
                    </ChildContent>
                </MudExpansionPanel>
            </MudExpansionPanels>
        </MudItem>
    }

    <MudHidden Breakpoint="Breakpoint.Xs">
        <MudItem xs="12" sm="12" md="12" lg="12" xl="12" Class="pa-3">
            <MudGrid>
                <MudItem xs="12" sm="12" md="12" lg="12" xl="12" Class="pt-2">
                    <MudStack Row="true" AlignItems="AlignItems.Center" Class="flex-wrap" Spacing="2">
                        <MudCheckBox Class="dap-result-checkbox" Dense="true" T="bool" @bind-Checked="@_dapQuoteSubmit.BookNow"
                                     Label="Book Now"/>
                        <MudCheckBox Class="dap-result-checkbox" Dense="true" T="bool" @bind-Checked="@_dapQuoteSubmit.MailMe"
                                     Label="Mail Me" onclick="@(() => OpenModal())"/>
                        <MudCheckBox Class="dap-result-checkbox" Dense="true" T="bool" @bind-Checked="@_dapQuoteSubmit.Print"
                                     Label="Print"/>
                    </MudStack>
                </MudItem>
                <MudItem xs="12" sm="12" md="12" lg="12" xl="12">
                    <MudStack Row="true" Justify="Justify.Center" AlignItems="AlignItems.Center">
                        <MudButton Variant="Variant.Filled" Disabled="false" Color="Color.Primary" OnClick="() => Submit(0)"
                                   Size="Size.Small">
                            Submit
                        </MudButton>
                    </MudStack>
                </MudItem>
            </MudGrid>
        </MudItem>
    </MudHidden>

    <MudHidden Breakpoint="Breakpoint.Xs" Invert="true">
        <MudItem xs="12" sm="12" md="12" lg="12" xl="12" Class="pa-3">
            <MudGrid>
                <MudItem xs="12" sm="12" md="12" lg="12" xl="12" Class="pt-2">
                    <MudStack Row="true" AlignItems="AlignItems.Center" Class="flex-wrap" Spacing="2">
                        <MudCheckBox Class="dap-result-checkbox" Dense="true" T="bool" @bind-Checked="@_dapQuoteSubmit.BookNow"
                                     Label="Book Now"/>
                        <MudCheckBox Class="dap-result-checkbox" Dense="true" T="bool" @bind-Checked="@_dapQuoteSubmit.MailMe"
                                     Label="Mail Me" onclick="@(() => OpenModal())"/>
                        <MudCheckBox Class="dap-result-checkbox" Dense="true" T="bool" @bind-Checked="@_dapQuoteSubmit.Print"
                                     Label="Print"/>
                    </MudStack>
                </MudItem>
                <MudItem xs="12" sm="12" md="12" lg="12" xl="12">
                    <MudStack Row="true" Justify="Justify.Center" AlignItems="AlignItems.Center">
                        <MudButton Variant="Variant.Filled" Disabled="false" Color="Color.Primary" OnClick="() => Submit(1)"
                                   Size="Size.Small">
                            Submit
                        </MudButton>
                    </MudStack>
                </MudItem>
            </MudGrid>
        </MudItem>
    </MudHidden>

    </MudPaper>
    </MudItem>


    <MudItem Style="align-items: center">
        <div style="text-align: center;">
            <MudButton Variant="Variant.Filled" Disabled="false" Color="Color.Primary" OnClick="@NewRequest"
                       Size="Size.Small">
                New Request
            </MudButton>
        </div>
    </MudItem>
    </MudGrid>
}
