@page "/ExWorks/GetQuote"
@page "/ExWorks/QuoteResult"
@using static FinancialExtensions;

<style>
    .dap-checkbox p { font-weight: bold; }

    .invoice-table {
        border: 1px solid gray;
        border-collapse: collapse;
        padding: 10px;
    }

    .dap-result-checkbox { font-weight: bold; }

    .total-row {
        background-color: #e0d5cb;
        font-weight: bold;
    }

    .header-row {
        background-color: #747480;
        color: white;
    }

    .terms { cursor: pointer; }
</style>

@if (!_showResult)
{
    <MudGrid>
        <MudItem xs="12" sm="6" md="6" lg="6" xl="6">
            <MudHidden Breakpoint="Breakpoint.Xs">
                <MudText Typo="Typo.h4" Color="Color.Primary">ExWorks from India</MudText>
            </MudHidden>
            <MudHidden Breakpoint="Breakpoint.Xs" Invert="true">
                <MudStack Row="true" Justify="Justify.Center" AlignItems="AlignItems.Center">
                    <MudIcon Color="Color.Primary" Icon="@Icons.Material.Outlined.RequestQuote"/>
                    <MudText Typo="Typo.h6" Color="Color.Primary">Ex-Works from India</MudText>
                </MudStack>
            </MudHidden>
        </MudItem>
        <MudItem xs="12" sm="12" md="12" lg="12" xl="12">
            <MudHidden Breakpoint="Breakpoint.Xs">
                <MudPaper Class="pa-2">
                    <MudForm @ref="_form" @bind-IsValid="@_isValid" Model="@_exWorksQuoteRequest"
                             Validation="@(_exWorksQuoteRequestValidator.ValidateValue)" ValidationDelay="0">
                        <AuthorizeView Policy="ManualQuoteExworks">
                            <MudCheckBox Class="dap-checkbox" T="bool" Label="Switch to manual mode"
                                         @bind-Checked="@EnabledManualOption"/>
                        </AuthorizeView>
                        <MudText Class="mt-3 ms-2" Style="font-weight: bold;">Origin Pincode</MudText>
                        <MudTextField T="string" @bind-Value="@_exWorksQuoteRequest.ToPincode" Required="true"
                                      RequiredError="Please enter Source Pincode." Class="ms-2" Placeholder="Enter Origin Pincode"
                                      Variant="Variant.Outlined" Margin="Margin.Dense"
                                      For="@(() => _exWorksQuoteRequest.ToPincode)" Immediate="true"/>
                        <div class="d-flex mt-3">
                            <MudText Class="mt-3 ms-2" Style="font-weight: bold;">Weight </MudText>
                            <MudText Class="mt-3 ms-2">Kgs</MudText>
                            <MudSwitch T="bool" @bind-Checked="@_exWorksQuoteRequest.IsWeightInLBs"
                                       Style="margin: 6px 0px 0px 0px" Color="Color.Secondary"/>
                            <MudText Class="mt-3">LBs</MudText>
                        </div>
                        <MudTextField T="double" @bind-Value="@_exWorksQuoteRequest.Weight" Required="true" Class="ms-2"
                                      Placeholder="Enter Weight" Variant="Variant.Outlined" Margin="Margin.Dense"
                                      InputType="InputType.Number" For="@(() => _exWorksQuoteRequest.Weight)" Immediate="true"/>
                        <MudText Class="mt-6 ms-2" Style="font-weight: bold;">Volume in CBM</MudText>
                        <MudTextField T="double" @bind-Value="@_exWorksQuoteRequest.Cbm" Required="true" Class="ms-2"
                                      Placeholder="Enter Volume in CBM" Variant="Variant.Outlined" Margin="Margin.Dense"
                                      InputType="InputType.Number" For="@(() => _exWorksQuoteRequest.Cbm)" Immediate="true"/>
                        <div class="d-flex mt-3">
                            <MudCheckBox Required="true" RequiredError="You must agree." Class="dap-checkbox" T="bool"
                                         Label="I Agree" Style="font-weight: bold;" @bind-Checked="@Terms_Exworks"/>
                            <MudText @onclick="@ShowTermsAndConditions" Color="Color.Secondary" Class="terms mt-3 ms-2">
                                Terms &
                                Conditions
                            </MudText>
                        </div>
                        <div class="mt-3" style="text-align: center;">
                            <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="GetQuote"
                                       Size="Size.Small">
                                Get
                                Quote
                            </MudButton>
                        </div>
                    </MudForm>
                </MudPaper>
            </MudHidden>
            <MudHidden Breakpoint="Breakpoint.Xs" Invert="true">
                <MudPaper Class="pa-2">
                    <MudForm @ref="_form" @bind-IsValid="@_isValid" Model="@_exWorksQuoteRequest"
                             Validation="@(_exWorksQuoteRequestValidator.ValidateValue)" ValidationDelay="0">
                        <AuthorizeView Policy="ManualQuoteExWorks">
                            <MudCheckBox Class="dap-checkbox" T="bool" Label="Switch to manual mode"
                                         @bind-Checked="@EnabledManualOption"/>
                        </AuthorizeView>
                        <MudText Class="mt-3 ms-2" Style="font-weight: bold;">Origin Pincode</MudText>
                        <MudTextField T="string" @bind-Value="@_exWorksQuoteRequest.ToPincode" Required="true"
                                      RequiredError="Please enter Source Pincode." Class="ms-2" Placeholder="Enter Origin Pincode"
                                      Variant="Variant.Text" Margin="Margin.Dense" For="@(() => _exWorksQuoteRequest.ToPincode)"
                                      Immediate="true"/>
                        <div class="d-flex mt-3">
                            <MudText Class="mt-3 ms-2" Style="font-weight: bold;">Weight </MudText>
                            <MudText Class="mt-3 ms-2">Kgs</MudText>
                            <MudSwitch T="bool" @bind-Checked="@_exWorksQuoteRequest.IsWeightInLBs"
                                       Style="margin: 6px 0px 0px 0px" Color="Color.Secondary"/>
                            <MudText Class="mt-3">LBs</MudText>
                        </div>
                        <MudTextField T="double" @bind-Value="@_exWorksQuoteRequest.Weight" Required="true" Class="ms-2"
                                      Placeholder="Enter Weight" Variant="Variant.Text" Margin="Margin.Dense"
                                      HelperText="Enter Weight" InputType="InputType.Number"
                                      For="@(() => _exWorksQuoteRequest.Weight)" Immediate="true"/>
                        <MudText Class="mt-6 ms-2" Style="font-weight: bold;">Volume in CBM</MudText>
                        <MudTextField T="double" @bind-Value="@_exWorksQuoteRequest.Cbm" Required="true" Class="ms-2"
                                      Placeholder="Enter Volume in CBM" Variant="Variant.Text" Margin="Margin.Dense"
                                      HelperText="Enter Volume" InputType="InputType.Number"
                                      For="@(() => _exWorksQuoteRequest.Cbm)" Immediate="true"/>
                        <div class="d-flex mt-3">
                            <MudCheckBox Required="true" RequiredError="You must agree." @bind-Checked="@Terms_Exworks"
                                         Class="dap-checkbox" T="bool" Label="I Agree" Style="font-weight: bold;"/>
                            <MudText @onclick="@ShowTermsAndConditions" Color="Color.Secondary" Class="terms mt-3 ms-2">
                                Terms &
                                Conditions
                            </MudText>
                        </div>
                        <div class="mt-3" style="text-align: center;">
                            <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="GetQuote"
                                       Size="Size.Small">
                                Get Quote
                            </MudButton>
                        </div>
                    </MudForm>
                </MudPaper>
            </MudHidden>
        </MudItem>
    </MudGrid>
}
else if (_enabledManualOption && _showFinalResult == false)
{
    <ExWorksManualModeUpdate
        ExWorksInputData="@_exWorksInputData"
        ExWorksQuoteResult="@_exWorksQuoteResult"
        QuoteExworksData="@_quoteExworksData"
        OnNewRequest="NewRequest"
        OnUpdate="x => _showFinalResult = x"/>
}
else
{
    <MudGrid>
        <MudItem xs="12" sm="12" md="12" lg="12" xl="12">
            <MudGrid>
                <MudItem xs="12" sm="12" md="12" lg="12" xl="12">
                    <MudText Color="Color.Primary" Typo="Typo.h4">Quote - @(_exWorksQuoteResult.ReferenceNumber)</MudText>
                </MudItem>
            </MudGrid>
        </MudItem>
        <MudItem xs="12" sm="12" md="12" lg="12" xl="12">
            <MudPaper Class="pa-4">
                <MudItem xs="12" sm="12" md="12" lg="12" xl="12">
                    <MudGrid Class="justify-start">
                        <MudItem xs="12" sm="12" md="4" lg="4" xl="4">
                            <MudText Color="Color.Dark">Weight</MudText>
                            <MudText Style="font-weight: bold;">@_exWorksInputData.Weight @_exWorksInputData.WeightType</MudText>
                        </MudItem>
                        <MudItem xs="12" sm="12" md="4" lg="4" xl="4">
                            <MudText Color="Color.Dark">CBM</MudText>
                            <MudText Style="font-weight: bold;">@_exWorksInputData.Cbm</MudText>
                        </MudItem>
                        <MudItem xs="12" sm="12" md="4" lg="4" xl="4">
                            <MudText Color="Color.Dark">Pincode, Location, State</MudText>
                            <MudText Style="font-weight: bold;">
                                @_exWorksQuoteResult.Pincode
                                @_quoteExworksData.Locations.FirstOrDefault()
                            </MudText>
                        </MudItem>
                    </MudGrid>
                </MudItem>
                @foreach (var via in _quoteExworksData.SplittedDataDetails.Vias)
                {
                    <MudItem Class="pa-2 mt-4" style="border: 1px solid gray; border-radius: var(--mud-default-borderradius);"
                             xs="12" sm="12" md="12" lg="12" xl="12">
                        <MudExpansionPanels Dense="true">
                            <MudExpansionPanel @bind-IsExpanded="@_isPanelOpen" HideIcon="true"
                                               style="background-color: var(--mud-palette-table-hover);">
                                <TitleContent>
                                    <MudContainer Class="d-flex justify-start flex-grow-1 gap-4">
                                        <MudIcon Icon="@(_isPanelOpen ? Icons.Material.Filled.HorizontalRule : Icons.Material.Filled.Add)">
                                        </MudIcon>
                                        <MudText Typo="Typo.subtitle1">Via : @via.Name</MudText>
                                    </MudContainer>
                                </TitleContent>
                                <ChildContent>
                                    <MudItem Class="mb-1" style="background-color: var(--mud-palette-surface);" xs="12" sm="12"
                                             md="12" lg="12" xl="12">
                                        <table style="border: 1px solid lightgrey; border-collapse: collapse; width: 100%;">
                                            <tr>
                                                <th class="invoice-table" style="text-align: start">Particulars</th>
                                                <th class="invoice-table" style="text-align: end">
                                                    <b>&dollar; USD</b>
                                                </th>
                                            </tr>
                                            <tr>
                                                <td class="invoice-table">Customs Clearance per Invoice</td>
                                                <td class="invoice-table" style="text-align: right">
                                                    @FormatAmount(via.Charges.CustomClearance.Dollar)
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="invoice-table">ACD/ACI/ENS Per HBL</td>
                                                <td class="invoice-table" style="text-align: right">
                                                    @FormatAmount(via.Charges.FobPerBl.Dollar)
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="invoice-table">IHC/THC</td>
                                                <td class="invoice-table" style="text-align: right">
                                                    @FormatAmount(via.Charges.FobPerWm.Dollar)
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="invoice-table">Documentation Per HBL</td>
                                                <td class="invoice-table" style="text-align: right">
                                                    @FormatAmount(via.Charges.DocumentationPerBl.Dollar)
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="invoice-table">Pick-up charges</td>
                                                <td class="invoice-table" style="text-align: right">
                                                    @FormatAmount(via.Charges.TransportationCost.Dollar)
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="invoice-table">Solas Admin Fee per shpt</td>
                                                <td class="invoice-table" style="text-align: right">
                                                    @FormatAmount(via.Charges.SolasAdmin.Dollar)
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="invoice-table">Solas Weighing Fee w/m</td>
                                                <td class="invoice-table" style="text-align: right">
                                                    @FormatAmount(via.Charges.SolasWm.Dollar)
                                                </td>
                                            </tr>
                                            <tr class="total-row">
                                                <td class="invoice-table">Total in USD</td>
                                                <td class="invoice-table" style="text-align: right">
                                                    @FormatAmount(via.Charges.Total.Dollar)
                                                </td>
                                            </tr>
                                            <tr class="total-row">
                                                <td class="invoice-table">Total in INR</td>
                                                <td class="invoice-table" style="text-align: right">@FormatAmount(via.Charges.Total.Rupee)</td>
                                            </tr>
                                            <tr class="total-row">
                                                <td class="invoice-table">Total INR with GST &#64;18&#37;</td>
                                                <td class="invoice-table" style="text-align: right">
                                                    @FormatAmount(via.Charges.GstData.Rupee)
                                                </td>
                                            </tr>

                                            <tr>
                                                <td colspan="2" class="px-5 py-3">
                                                    <MudText>
                                                        &#9432;GST @via.Charges.Gst&#37; &#9432; Exchange Rate as on
                                                        @($"{_quoteExworksData.Date.ToLocalTime().ToString("dd-MMM-yyyy hh:mm:ss")}") 1 USD = @_quoteExworksData.ConversionRateInr INR
                                                    </MudText>
                                                </td>
                                            </tr>
                                        </table>
                                    </MudItem>
                                </ChildContent>
                            </MudExpansionPanel>
                        </MudExpansionPanels>
                    </MudItem>
                }
                <MudItem xs="12" sm="12" md="12" lg="12" xl="12" Class="mt-6">
                    <MudGrid Class="justify-start">
                        <MudItem xs="12" sm="12" md="6" lg="6" xl="6">
                            <div class="d-flex  flex-grow-1">
                                <MudCheckBox Class="dap-result-checkbox" T="bool"
                                             @bind-Checked="@_exWorksQuoteSubmit.BookNow" Label="Book Now"/>
                                <MudCheckBox Class="dap-result-checkbox" T="bool"
                                             @bind-Checked="@_exWorksQuoteSubmit.MailMe" Label="Mail Me"
                                             onclick="@(() => OpenModal())"/>
                                <MudCheckBox Class="dap-result-checkbox" T="bool" @bind-Checked="@_exWorksQuoteSubmit.Print"
                                             Label="Print"/>
                            </div>
                            <div class="d-flex flex-row-reverse flex-grow-1">
                                <MudButton Variant="Variant.Filled" Disabled="false" Color="Color.Primary" OnClick="() => Submit(1)"
                                           Size="Size.Small">
                                    Submit
                                </MudButton>
                            </div>
                        </MudItem>
                    </MudGrid>
                </MudItem>
            </MudPaper>
        </MudItem>
        <MudItem Style="align-items: center">
            <div style="text-align: center;">
                <MudButton Variant="Variant.Filled" Disabled="false" Color="Color.Primary" OnClick="@NewRequest"
                           Size="Size.Small">
                    New Request
                </MudButton>
            </div>
        </MudItem>
    </MudGrid>
}
