@page "/roadbridge/quotesearch/{Type}/{Id:int}"


<style>
    .invoice-table {
        border: 1px solid gray;
        border-collapse: collapse;
        padding: 10px;
    }

    .total-row {
        background-color: #e0d5cb;
        font-weight: bold;
    }
</style>

<MudItem xs="12" sm="12" md="12" lg="12" xl="12">
<MudCard Outlined="true">
<MudCardHeader>
    <CardHeaderContent>
        <MudItem xs="12" sm="12" md="12" lg="12" xl="12">
            <MudGrid>
                <MudItem xs="12" sm="6" md="6" lg="6" xl="6">
                    <MudText Typo="Typo.h6"> Quote - @(_quoteData.ReferenceNumber)</MudText>
                </MudItem>
                <MudItem xs="12" sm="6" md="6" lg="6" xl="6" Class="d-flex flex-row-reverse flex-grow-1">
                    <MudButton Color="Color.Primary" Variant="Variant.Filled" Margin="Margin.Dense"
                               Size="Size.Small" Class="@(_isMarkAsExecuted ? "d-none mr-1" : "d-block mr-1")"
                               OnClick="@MarkAsExecuted">
                        Mark as executed
                    </MudButton>
                    <MudButton Color="Color.Primary" Variant="Variant.Filled" Margin="Margin.Dense"
                               Size="Size.Small" Class="@(_isMarkAsClosed ? "d-none mr-1" : "d-block mr-1")"
                               OnClick="@MarkAsClosed">
                        Mark as closed
                    </MudButton>
                    <MudButton Color="Color.Primary" Variant="Variant.Filled" Margin="Margin.Dense"
                               Size="Size.Small" OnClick="@DownloadPdf" Class="mr-1">
                        View Quote
                    </MudButton>
                </MudItem>
            </MudGrid>
        </MudItem>
    </CardHeaderContent>
</MudCardHeader>
<MudCardContent>
<MudItem Class="pa-3" Style="border: 1px solid gray; border-radius: var(--mud-default-borderradius);"
         xs="12" sm="12" md="12" lg="12" xl="12">
    <MudGrid>
        <MudItem xs="12" sm="12" md="12" lg="12" xl="12">
            <label>Quotation Number:</label>&nbsp;
            <label>
                <b>@_quoteData.ReferenceNumber</b>
            </label>
        </MudItem>
        <MudItem xs="12" sm="6" md="3" lg="3" xl="3">
            <label>
                Final
                Destination:
            </label>&nbsp;
            <label>
                <b>@_quoteData.Locations.FirstOrDefault()</b>
            </label>
        </MudItem>
        <MudItem xs="12" sm="6" md="3" lg="3" xl="3">
            <label>Pincode:</label>&nbsp;
            <label>
                <b>@_quoteInputData.ToPincode</b>
            </label>
        </MudItem>
        <MudItem xs="12" sm="6" md="3" lg="3" xl="3">
            <label>Weight:</label>&nbsp;
            <label>
                <b>
                    @_quoteInputData.Weight
                    @_quoteInputData.WeightType
                </b>
            </label>
        </MudItem>
        <MudItem xs="12" sm="6" md="3" lg="3" xl="3">
            <label>CBM:</label>&nbsp;
            <label>
                <b>@_quoteInputData.Cbm</b>
            </label>
        </MudItem>
    </MudGrid>
</MudItem>
<MudItem Class="mt-3" Style="border: 1px solid gray; border-radius: var(--mud-default-borderradius);"
         xs="12" sm="12" md="12" lg="12" xl="12">
    <MudCard Outlined="true" Class="ma-2">
        <MudCardHeader Style="background-color: var(--mud-palette-table-hover);">
            <CardHeaderContent>
                <MudText Typo="Typo.h6">Common Configuration</MudText>
            </CardHeaderContent>
        </MudCardHeader>
        <MudCardContent>
            <MudItem xs="12" sm="12" md="12" lg="12" xl="12">
                <MudGrid Class="justify-start">
                    <MudItem xs="12" sm="12" md="4" lg="4" xl="4">
                        <label>
                            Weight In
                            Ton:
                        </label>&nbsp;
                        <label>
                            <b>@Math.Round(_quoteData.SplittedDataDetails.WeightInTon, 2)</b>
                        </label>
                    </MudItem>
                    <MudItem xs="12" sm="6" md="4" lg="4" xl="4">
                        <label>
                            Weight
                            Ratio:
                        </label>&nbsp;
                        <label>
                            <b>@Math.Round(_quoteData.SplittedDataDetails.WeightRatio, 2)</b>
                        </label>
                    </MudItem>
                    <MudItem xs="12" sm="6" md="4" lg="4" xl="4">
                        <label>
                            CBM
                            Ratio:
                        </label>&nbsp;
                        <label>
                            <b>@Math.Round(_quoteData.SplittedDataDetails.CbmRatio, 2)</b>
                        </label>
                    </MudItem>
                    <MudItem xs="12" sm="6" md="4" lg="4" xl="4">
                        <label>
                            Applicable
                            Ratio:
                        </label>&nbsp;
                        <label>
                            <b>@Math.Round(_quoteData.SplittedDataDetails.ApplicableRatio, 2)</b>
                        </label>
                    </MudItem>
                    <MudItem xs="12" sm="6" md="4" lg="4" xl="4">
                        <label>
                            Applicable Weight
                            Ratio:
                        </label>&nbsp;
                        <label>
                            <b>@Math.Round(_quoteData.SplittedDataDetails.ApplicableWtRatio, 2)</b>
                        </label>
                    </MudItem>
                    <MudItem xs="12" sm="6" md="4" lg="4" xl="4">
                        <label>
                            Markup in
                            %:
                        </label>&nbsp;
                        <label>
                            <b>@Math.Round(_quoteData.SplittedDataDetails.MarkupPer, 2)</b>
                        </label>
                    </MudItem>
                    <MudItem xs="12" sm="6" md="4" lg="4" xl="4">
                        <label>
                            Applicable Slab
                            Zone:
                        </label>&nbsp;
                        <label>
                            <b>@_quoteData.SplittedDataDetails.ApplicableSlabZone</b>
                        </label>
                    </MudItem>
                    <MudItem xs="12" sm="6" md="4" lg="4" xl="4">
                        <label>
                            Zone
                            Charges:
                        </label>&nbsp;
                        <label>
                            <b>@Math.Round(_quoteData.SplittedDataDetails.ApplicableSlabZoneCharges, 2)</b>
                        </label>
                    </MudItem>
                </MudGrid>
            </MudItem>
        </MudCardContent>
    </MudCard>
</MudItem>
@foreach (var via in _quoteData.SplittedDataDetails.Vias)
{
    <MudItem Class="mt-3" Style="border: 1px solid gray; border-radius: var(--mud-default-borderradius);"
             xs="12" sm="12" md="12" lg="12" xl="12">
    <MudExpansionPanels Dense="true">
    <MudExpansionPanel IsInitiallyExpanded="true" HideIcon="true"
                       Style="background-color: var(--mud-palette-table-hover);">
    <TitleContent>
        <div class="d-flex justify-start flex-grow-1 gap-4">
            <MudIcon
                Icon="@(_isPanelOpen ? Icons.Material.Filled.HorizontalRule : Icons.Material.Filled.Add)">
            </MudIcon>
            <MudText Typo="Typo.subtitle1">Via : @via.Name</MudText>
        </div>
    </TitleContent>
    <ChildContent>
    <MudItem xs="12" sm="12" md="12" lg="12" xl="12">
    <MudCard Outlined="true">
    <MudCardHeader Style="border: 1px solid lightgrey;">
        <CardHeaderContent>
            <MudText Typo="Typo.h6">Particular Details</MudText>
        </CardHeaderContent>
    </MudCardHeader>
    <MudCardContent>
    @if (_quoteData.Type.ToUpper().Equals(QuoteType.DAP.ToString()) ||
         _quoteData.Type.Equals(QuoteType.DDU))
    {
        <MudItem xs="12" sm="12" md="12" lg="12" xl="12">
            <MudGrid Class="justify-start">
                <MudItem xs="12" sm="12" md="4" lg="4" xl="4">
                    <label>
                        TC by
                        Weight:
                    </label>&nbsp;
                    <label>
                        <b>@Math.Round(via.ParticularDetails.TcByWeight, 2)</b>
                    </label>
                </MudItem>
                <MudItem xs="12" sm="6" md="4" lg="4" xl="4">
                    <label>
                        TC by
                        CBM:
                    </label>&nbsp;
                    <label>
                        <b>@Math.Round(via.ParticularDetails.TcByCbm, 2)</b>
                    </label>
                </MudItem>
                <MudItem xs="12" sm="6" md="4" lg="4" xl="4">
                    <label>
                        Considered
                        TC:
                    </label>&nbsp;
                    <label>
                        <b>@Math.Round(via.ParticularDetails.Tc, 2)</b>
                    </label>
                </MudItem>
                <MudItem xs="12" sm="6" md="4" lg="4" xl="4">
                    <label>
                        CFS by
                        Weight:
                    </label>&nbsp;
                    <label>
                        <b>@Math.Round(via.ParticularDetails.CfsByWeight, 2)</b>
                    </label>
                </MudItem>
                <MudItem xs="12" sm="6" md="4" lg="4" xl="4">
                    <label>
                        CFS by
                        CBM:
                    </label>&nbsp;
                    <label>
                        <b>@Math.Round(via.ParticularDetails.CfsByCbm, 2)</b>
                    </label>
                </MudItem>
                <MudItem xs="12" sm="6" md="4" lg="4" xl="4">
                    <label>
                        CFS
                        Charges:
                    </label>&nbsp;
                    <label>
                        <b>@Math.Round(via.ParticularDetails.CfsCharges, 2)</b>
                    </label>
                </MudItem>
                <MudItem xs="12" sm="6" md="4" lg="4" xl="4">
                    <label>
                        Default
                        Charges:
                    </label>&nbsp;
                    <label>
                        <b>@Math.Round(via.ParticularDetails.DefaultCharges, 2)</b>
                    </label>
                </MudItem>
                <MudItem xs="12" sm="6" md="4" lg="4" xl="4">
                    <label>
                        TC Without
                        Markup:
                    </label>&nbsp;
                    <label>
                        <b>@Math.Round(via.ParticularDetails.TcWithoutMarkUp, 2)</b>
                    </label>
                </MudItem>
                <MudItem xs="12" sm="6" md="4" lg="4" xl="4">
                    <label>Markup:</label>&nbsp;
                    <label>
                        <b>@Math.Round(via.ParticularDetails.TcMarkup, 2)</b>
                    </label>
                </MudItem>
                <MudItem xs="12" sm="12" md="12" lg="12" xl="12">
                    <label>
                        Final TC = Final TC without markup + Markup + Default changes
                        =
                    </label>&nbsp;
                    <label>
                        <b>@Math.Round(via.ParticularDetails.FinalTc, 2)</b>
                    </label>
                </MudItem>
                <MudItem xs="12" sm="6" md="4" lg="4" xl="4">
                    <label>
                        PLC by
                        Weight:
                    </label>&nbsp;
                    <label>
                        <b>@Math.Round(via.ParticularDetails.PlcByWt, 2)</b>
                    </label>
                </MudItem>
                <MudItem xs="12" sm="6" md="4" lg="4" xl="4">
                    <label>
                        PLC by
                        CBM:
                    </label>&nbsp;
                    <label>
                        <b>@Math.Round(via.ParticularDetails.PlcByCbm, 2)</b>
                    </label>
                </MudItem>
                <MudItem xs="12" sm="6" md="4" lg="4" xl="4">
                    <label>
                        Final
                        PLC:
                    </label>&nbsp;
                    <label>
                        <b>@Math.Round(via.ParticularDetails.FinalPlc, 2)</b>
                    </label>
                </MudItem>
            </MudGrid>
        </MudItem>
    }
    else if (_quoteData.Type.ToUpper().Equals(QuoteType.DDU.ToString()))
    {
        <MudItem xs="12" sm="12" md="12" lg="12" xl="12">
            <MudGrid Class="justify-start">
                <MudItem xs="12" sm="12" md="4" lg="4" xl="4">
                    <label>
                        TC by
                        Weight:
                    </label>&nbsp;
                    <label>
                        <b>@Math.Round(via.ParticularDetails.TcByWeight, 2)</b>
                    </label>
                </MudItem>
                <MudItem xs="12" sm="6" md="4" lg="4" xl="4">
                    <label>
                        TC by
                        CBM:
                    </label>&nbsp;
                    <label>
                        <b>@Math.Round(via.ParticularDetails.TcByCbm, 2)</b>
                    </label>
                </MudItem>
                <MudItem xs="12" sm="6" md="4" lg="4" xl="4">
                    <label>
                        Considered
                        TC:
                    </label>&nbsp;
                    <label>
                        <b>@Math.Round(via.ParticularDetails.Tc, 2)</b>
                    </label>
                </MudItem>
                <MudItem xs="12" sm="6" md="4" lg="4" xl="4">
                    <label>
                        CFS by
                        Weight:
                    </label>&nbsp;
                    <label>
                        <b>@Math.Round(via.ParticularDetails.CfsByWeight, 2)</b>
                    </label>
                </MudItem>
                <MudItem xs="12" sm="6" md="4" lg="4" xl="4">
                    <label>
                        CFS by
                        CBM:
                    </label>&nbsp;
                    <label>
                        <b>@Math.Round(via.ParticularDetails.CfsByCbm, 2)</b>
                    </label>
                </MudItem>
                <MudItem xs="12" sm="6" md="4" lg="4" xl="4">
                    <label>
                        CFS
                        Charges:
                    </label>&nbsp;
                    <label>
                        <b>@Math.Round(via.ParticularDetails.CfsCharges, 2)</b>
                    </label>
                </MudItem>
                <MudItem xs="12" sm="6" md="4" lg="4" xl="4">
                    <label>
                        Default
                        Charges:
                    </label>&nbsp;
                    <label>
                        <b>@Math.Round(via.ParticularDetails.DefaultCharges, 2)</b>
                    </label>
                </MudItem>
                <MudItem xs="12" sm="6" md="4" lg="4" xl="4">
                    <label>
                        TC Without
                        Markup:
                    </label>&nbsp;
                    <label>
                        <b>@Math.Round(via.ParticularDetails.TcWithoutMarkUp, 2)</b>
                    </label>
                </MudItem>
                <MudItem xs="12" sm="6" md="4" lg="4" xl="4">
                    <label>Markup:</label>&nbsp;
                    <label>
                        <b>@Math.Round(via.ParticularDetails.TcMarkup, 2)</b>
                    </label>
                </MudItem>
                <MudItem xs="12" sm="12" md="12" lg="12" xl="12">
                    <label>
                        Final TC = Final TC without markup + Markup + Default changes
                        =
                    </label>&nbsp;
                    <label>
                        <b>@Math.Round(via.ParticularDetails.FinalTc, 2)</b>
                    </label>
                </MudItem>
                <MudItem xs="12" sm="6" md="4" lg="4" xl="4">
                    <label>
                        PLC by
                        Weight:
                    </label>&nbsp;
                    <label>
                        <b>@Math.Round(via.ParticularDetails.PlcByWt, 2)</b>
                    </label>
                </MudItem>
                <MudItem xs="12" sm="6" md="4" lg="4" xl="4">
                    <label>
                        PLC by
                        CBM:
                    </label>&nbsp;
                    <label>
                        <b>@Math.Round(via.ParticularDetails.PlcByCbm, 2)</b>
                    </label>
                </MudItem>
                <MudItem xs="12" sm="6" md="4" lg="4" xl="4">
                    <label>
                        Final
                        PLC:
                    </label>&nbsp;
                    <label>
                        <b>@Math.Round(via.ParticularDetails.FinalPlc, 2)</b>
                    </label>
                </MudItem>
            </MudGrid>
        </MudItem>
    }
    else if (_quoteData.Type.ToUpper().Equals(QuoteType.EXWORK.ToString()))
    {
        <MudItem xs="12" sm="12" md="12" lg="12" xl="12">
            <MudGrid Class="justify-start">
                <MudItem xs="12" sm="12" md="4" lg="4" xl="4">
                    <label>
                        TC by Weight
                        (INR):
                    </label>&nbsp;
                    <label>
                        <b>@Math.Round(via.ParticularDetails.TcByWeight, 2)</b>
                    </label>
                </MudItem>
                <MudItem xs="12" sm="6" md="4" lg="4" xl="4">
                    <label>
                        TC by CBM
                        (INR):
                    </label>&nbsp;
                    <label>
                        <b>@Math.Round(via.ParticularDetails.TcByCbm, 2)</b>
                    </label>
                </MudItem>
                <MudItem xs="12" sm="12" md="4" lg="4" xl="4">
                    <label>
                        Considered TC
                        (INR):
                    </label>&nbsp;
                    <label>
                        <b>@Math.Round(via.ParticularDetails.Tc, 2)</b>
                    </label>
                </MudItem>
                <MudItem xs="12" sm="6" md="4" lg="4" xl="4">
                    <label>
                        Default
                        Charges:
                    </label>&nbsp;
                    <label>
                        <b>@Math.Round(via.ParticularDetails.DefaultCharges, 2)</b>
                    </label>
                </MudItem>
                <MudItem xs="12" sm="6" md="4" lg="4" xl="4">
                    <label>
                        Markup
                        (INR):
                    </label>&nbsp;
                    <label>
                        <b>@Math.Round(via.ParticularDetails.TcMarkup, 2)</b>
                    </label>
                </MudItem>
                <MudItem xs="12" sm="12" md="12" lg="12" xl="12">
                    <label>
                        Final TC = Final TC without markup + Markup + Default changes
                        =
                    </label>&nbsp;
                    <label>
                        <b>@Math.Round(via.ParticularDetails.Tc, 2)</b>
                    </label>
                </MudItem>
            </MudGrid>
        </MudItem>
    }
    </MudCardContent>
    </MudCard>
    </MudItem>
    @if (_quoteData.Type.ToUpper().Equals(QuoteType.DAP.ToString()))
    {
        <MudItem Class="mt-3 mb-1" Style="background-color: var(--mud-palette-surface);" xs="12"
                 sm="12" md="12" lg="12" xl="12">
            <table style="border: 1px solid lightgrey; border-collapse: collapse; width: 100%;">
                <tr>
                    <th class="invoice-table" style="text-align: left">
                        <b>Particulars</b>
                    </th>
                    <th class="invoice-table" style="text-align: right">
                        <b>&#8377; INR</b>
                    </th>
                </tr>
                <tr>
                    <td class="invoice-table">Door delivery Charges</td>
                    <td class="invoice-table" style="text-align: right">
                        @via.Charges.TransportationCost.Rupee
                    </td>
                </tr>
                <tr>
                    <td class="invoice-table">Post Landing Charges</td>
                    <td class="invoice-table" style="text-align: right">
                        @via.Charges.PlcPerWm.Rupee
                    </td>
                </tr>
                <tr>
                    <td class="invoice-table">Subtotal</td>
                    <td class="invoice-table" style="text-align: right">
                        @via.Charges.SubTotal.Rupee
                    </td>
                </tr>
                <tr class="total-row">
                    <td class="invoice-table">
                        <b>GST at 18%</b>
                    </td>
                    <td class="invoice-table" style="text-align: right">
                        <b>@via.Charges.GstData.Rupee</b>
                    </td>
                </tr>
                <tr class="total-row">
                    <td class="invoice-table">
                        <b>Total in INR</b>
                    </td>
                    <td class="invoice-table" style="text-align: right">
                        <b>@via.Charges.Total.Rupee</b>
                    </td>
                </tr>
                <tr class="total-row">
                    <td class="invoice-table">
                        <b>Total in USD</b>
                    </td>
                    <td class="invoice-table" style="text-align: right">
                        <b>@via.Charges.Total.Dollar</b>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="pa-2">
                        <MudText Typo="Typo.caption">
                            &#9432;GST (@via.Charges.Gst&#37;)
                            &#9432;Exchange Rate as on
                            @($"{_quoteData.Date.ToLocalTime().ToString("dd-MMM-yyyy hh:mm:ss")}")
                            (1 USD = @_quoteData.ConversionRateInr INR)
                        </MudText>
                    </td>
                </tr>
            </table>
        </MudItem>
    }
    else if (_quoteData.Type.ToUpper().Equals(QuoteType.DDU.ToString()))
    {
        <MudItem Class="mt-3 mb-1" Style="background-color: var(--mud-palette-surface);" xs="12"
                 sm="12" md="12" lg="12" xl="12">
            <table style="border: 1px solid lightgrey; border-collapse: collapse; width: 100%;">
                <tr>
                    <th class="invoice-table" style="text-align: left">
                        <b>Particulars</b>
                    </th>
                    <th class="invoice-table" style="text-align: right">
                        <b>&#8377; INR</b>
                    </th>
                </tr>
                <tr>
                    <td class="invoice-table">Customs Clearance per Invoice</td>
                    <td class="invoice-table" style="text-align: right">
                        @via.Charges.CustomClearance.Rupee
                    </td>
                </tr>
                <tr>
                    <td class="invoice-table">Door delivery Charges</td>
                    <td class="invoice-table" style="text-align: right">
                        @via.Charges.TransportationCost.Rupee
                    </td>
                </tr>
                <tr>
                    <td class="invoice-table">Post Landing Charges</td>
                    <td class="invoice-table" style="text-align: right">
                        @via.Charges.PlcPerWm.Rupee
                    </td>
                </tr>
                <tr>
                    <td class="invoice-table">Subtotal</td>
                    <td class="invoice-table" style="text-align: right">
                        @via.Charges.SubTotal.Rupee
                    </td>
                </tr>
                <tr class="total-row">
                    <td class="invoice-table">
                        <b>GST at 18%</b>
                    </td>
                    <td class="invoice-table" style="text-align: right">
                        @via.Charges.GstData.Rupee
                    </td>
                </tr>
                <tr class="total-row">
                    <td class="invoice-table">
                        <b>Total in INR</b>
                    </td>
                    <td class="invoice-table" style="text-align: right">@via.Charges.Total.Rupee</td>
                </tr>
                <tr class="total-row">
                    <td class="invoice-table">
                        <b>Total in USD</b>
                    </td>
                    <td class="invoice-table" style="text-align: right">
                        @via.Charges.Total.Dollar
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <MudText Typo="Typo.caption">
                            &#9432;GST (@via.Charges.Gst&#37;)
                            &#9432;Exchange Rate as on
                            @($"{_quoteData.Date.ToLocalTime().ToString("dd-MMM-yyyy hh:mm:ss")}")
                            (1 USD = @_quoteData.ConversionRateInr INR)
                        </MudText>
                    </td>
                </tr>
            </table>
        </MudItem>
    }
    else if (_quoteData.Type.ToUpper().Equals(QuoteType.EXWORK.ToString()))
    {
        <MudItem Class="mt-3 mb-1" Style="background-color: var(--mud-palette-surface);" xs="12"
                 sm="12" md="12" lg="12" xl="12">
            <table style="border: 1px solid lightgrey; border-collapse: collapse; width: 100%;">
                <tr>
                    <th class="invoice-table" style="text-align: left">
                        <b>Particulars</b>
                    </th>
                    <th class="invoice-table" style="text-align: right">
                        <b>&dollar; USD</b>
                    </th>
                </tr>
                <tr>
                    <td class="invoice-table">Customs Clearance per Invoice</td>
                    <td class="invoice-table" style="text-align: right">
                        @via.Charges.CustomClearance.Dollar
                    </td>
                </tr>
                <tr>
                    <td class="invoice-table">ACD/ACI/ENS Per HBL</td>
                    <td class="invoice-table" style="text-align: right">
                        @via.Charges.FobPerBl.Dollar
                    </td>
                </tr>
                <tr>
                    <td class="invoice-table">IHC/THC</td>
                    <td class="invoice-table" style="text-align: right">
                        @via.Charges.FobPerWm.Dollar
                    </td>
                </tr>
                <tr>
                    <td class="invoice-table">Documentation Per HBL</td>
                    <td class="invoice-table" style="text-align: right">
                        @via.Charges.DocumentationPerBl.Dollar
                    </td>
                </tr>
                <tr>
                    <td class="invoice-table">Pick-up charges</td>
                    <td class="invoice-table" style="text-align: right">
                        @via.Charges.TransportationCost.Dollar
                    </td>
                </tr>
                <tr>
                    <td class="invoice-table">Solas Admin Fee per shpt</td>
                    <td class="invoice-table" style="text-align: right">
                        @via.Charges.SolasAdmin.Dollar
                    </td>
                </tr>
                <tr>
                    <td class="invoice-table">Solas Weighing Fee w/m</td>
                    <td class="invoice-table" style="text-align: right">
                        @via.Charges.SolasWm.Dollar
                    </td>
                </tr>
                <tr class="total-row">
                    <td class="invoice-table">Total in USD</td>
                    <td class="invoice-table" style="text-align: right">
                        @via.Charges.Total.Dollar
                    </td>
                </tr>
                <tr class="total-row">
                    <td class="invoice-table">Total in INR</td>
                    <td class="invoice-table" style="text-align: right">@via.Charges.Total.Rupee</td>
                </tr>
                <tr class="total-row">
                    <td class="invoice-table">Total INR with GST &#64;18&#37;</td>
                    <td class="invoice-table" style="text-align: right">
                        @via.Charges.GstData.Rupee
                    </td>
                </tr>

                <tr>
                    <td colspan="2">
                        <MudText Typo="Typo.caption">
                            &#9432;GST (@via.Charges.Gst&#37;)
                            &#9432;Exchange Rate as on
                            @($"{_quoteData.Date.ToLocalTime().ToString("dd-MMM-yyyy hh:mm:ss")}")
                            (1 USD = @_quoteData.ConversionRateInr INR)
                        </MudText>

                    </td>
                </tr>
            </table>
        </MudItem>
    }
    </ChildContent>
    </MudExpansionPanel>
    </MudExpansionPanels>
    </MudItem>
}
</MudCardContent>
</MudCard>
</MudItem>
<MudItem xs="12" sm="12" md="12" lg="12" xl="12">
    <MudCard Outlined="true">
        <MudCardHeader>
            <CardHeaderContent>
                <MudItem Class="mt-3" xs="12" sm="12" md="12" lg="12" xl="12">
                    <MudText Typo="Typo.h6">Updates</MudText>
                </MudItem>
            </CardHeaderContent>
        </MudCardHeader>
        <MudCardContent>
            <MudItem xs="12" sm="12" md="12" lg="12" xl="12">
                <MudTabs Outlined="false" Rounded="true">
                    <MudTabPanel Text="Comments" ID="@("comments")">
                        <MudItem Class="pa-2" xs="12" sm="12" md="12" lg="12" xl="12">
                            @if (_quoteSearchDetailDto.Comments.Count == 0)
                            {
                                <MudAlert Severity="Severity.Info">No comment added yet.</MudAlert>
                            }
                            else
                            {
                                <MudList>
                                    @foreach (var objcomment in _quoteSearchDetailDto.Comments.ToList())
                                    {
                                        <MudListItem>
                                            <MudAlert Severity="Severity.Normal" Variant="Variant.Outlined">
                                                @objcomment.Comment
                                                | @objcomment.CreatedBy |
                                                @objcomment.CreatedAt.ToLocalTime().ToString("dd-MMM-yyyy HH:mm")
                                            </MudAlert>

                                        </MudListItem>
                                    }
                                </MudList>
                            }
                        </MudItem>
                    </MudTabPanel>
                    <MudTabPanel Text="Add Comments" ID="@("addcomments")">
                        <MudItem Class="pa-2" xs="12" sm="12" md="12" lg="12" xl="12">
                            <MudGrid>
                                <MudItem xs="12" sm="6" md="4" lg="4" xl="4">
                                    <MudTextField @bind-Value="@_comment" Label="Comment" Variant="Variant.Outlined"
                                                  Class="xs-12 sm-4 lg-3 xl-3" Margin="Margin.Dense" InputType="InputType.Text"
                                                  Lines="2"/>
                                </MudItem>
                                <MudItem xs="12" sm="12" md="12" lg="12" xl="12">
                                    <MudButton Color="Color.Primary" Variant="Variant.Filled" Class="mr-1"
                                               OnClick="@SubmitComment">
                                        Submit
                                    </MudButton>
                                </MudItem>
                            </MudGrid>
                        </MudItem>
                    </MudTabPanel>
                </MudTabs>
            </MudItem>
        </MudCardContent>
    </MudCard>
</MudItem>
