@page "/roadbridge/transportation"


<style>
    td {
        padding-bottom: 4px;
        padding-inline: 10px;
    }
</style>

<MudGrid>
    <MudItem xs="12" sm="12" md="12" lg="12" xl="12">
        <MudGrid>
            <MudItem xs="12" sm="6" md="6" lg="6" xl="6">
                <MudText Color="Color.Primary" Typo="Typo.h4">Transportation Cost</MudText>
            </MudItem>
            <MudItem xs="12" sm="6" md="6" lg="6" xl="6" Class="d-flex flex-row-reverse flex-grow-1">
                <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Upload" Color="Color.Primary"
                           OnClick="@UploadCSV" Size="Size.Small">
                    Upload Transportation Cost
                </MudButton>
            </MudItem>
        </MudGrid>
    </MudItem>

    <MudItem xs="12" sm="12" md="12" lg="12" xl="12">
        <MudExpansionPanels>
            <MudExpansionPanel Text="Filters" IsInitiallyExpanded="true" @bind-IsExpanded="@isExpanded">
                <EditForm Model="@_transportationCostFilter">
                    <MudGrid>
                        <MudItem xs="12" sm="6" md="3" lg="3" xl="3">
                            <MudTextField @bind-Value="@_transportationCostFilter.Pod" Label="POD"
                                          Variant="Variant.Outlined" Margin="Margin.Dense"/>
                        </MudItem>
                        <MudItem xs="12" sm="6" md="3" lg="3" xl="3">
                            <MudTextField @bind-Value="@_transportationCostFilter.FromZipCode" Label="From Zip Code"
                                          Variant="Variant.Outlined" Margin="Margin.Dense" Mask="@(new PatternMask("000000"))"/>
                        </MudItem>
                        <MudItem xs="12" sm="6" md="3" lg="3" xl="3">
                            <MudTextField @bind-Value="@_transportationCostFilter.ToZipCode" Label="To Zip Code"
                                          Variant="Variant.Outlined" Margin="Margin.Dense" Mask="@(new PatternMask("000000"))"/>
                        </MudItem>
                        <MudItem xs="12" sm="12" md="12" lg="12" xl="12">

                            <MudButton Color="Color.Primary" ButtonType="ButtonType.Submit"
                                       Variant="Variant.Filled" OnClick="@OnSearch" Class="mr-1" Size="Size.Small">
                                Submit
                            </MudButton>
                            <MudButton Color="Color.Default" ButtonType="ButtonType.Reset"
                                       Variant="Variant.Filled" OnClick="@ResetFilters" Class="mr-1" Size="Size.Small">
                                Reset
                            </MudButton>

                        </MudItem>
                    </MudGrid>
                </EditForm>

            </MudExpansionPanel>
        </MudExpansionPanels>
    </MudItem>

    <MudItem xs="12" sm="12" md="12" lg="12" xl="12">
        @*ServerData="@(new Func<TableState, Task<TableData<SearchTransportationCostDto>>>(ServerReload))"*@
        <MudTable ServerData="@(new Func<TableState, Task<TableData<SearchTransportationCostDto>>>(ServerReload))"
                  Breakpoint="Breakpoint.None" @ref="@_tableRef" Dense="true" Hover="true" LoadingProgressColor="Color.Info"
                  RowsPerPage="20">
            <HeaderContent>
                <MudTh></MudTh>
                <MudTh>
                    <b>#</b>
                </MudTh>
                <MudTh>
                    <b>Country</b>
                </MudTh>
                <MudTh>
                    <b>POD</b>
                </MudTh>
                <MudTh>
                    <b>Origin State</b>
                </MudTh>
                <MudTh>
                    <b>Origin Region</b>
                </MudTh>
                <MudTh Style="padding: 0px">
                    <b>From Zip Code</b>
                </MudTh>
                <MudTh>
                    <b>To Zip Code</b>
                </MudTh>
                <MudTh>
                    <b>Uploaded Date</b>
                </MudTh>
            </HeaderContent>
            <NoRecordsContent>
                <MudText>No matching records found</MudText>
            </NoRecordsContent>

            <RowTemplate>
                <MudTd>
                    <MudIconButton
                        Icon="@(context.ShowDetails ? Icons.Material.Filled.CloseFullscreen : Icons.Material.Filled.OpenInFull)"
                        aria-label="delete" OnClick="@(() => ShowBtnPress(context.Id))" Size="Size.Small">
                    </MudIconButton>
                </MudTd>
                <MudTd DataLabel="#">@GetRowNumber(context)</MudTd>
                <MudTd DataLabel="Country">@context.Country</MudTd>
                <MudTd DataLabel="POD">@context.Pod</MudTd>
                <MudTd DataLabel="Origin State">@context.OriginState</MudTd>
                <MudTd DataLabel="Origin Region">@context.OriginRegion</MudTd>
                <MudTd DataLabel="From Zip Code">@context.FromZipCode</MudTd>
                <MudTd DataLabel="To Zip Code">@context.ToZipCode</MudTd>
                <MudTd DataLabel="Uploaded Date">
                    @context.UploadedOn.ToLocalTime().ToString("dd-MMM-yyyy HH:mm tt")
                </MudTd>
            </RowTemplate>
            <ChildRowContent>
                @if (context.ShowDetails)
                {
                    <MudTr style="background-color: var(--mud-palette-primary-hover);">
                        <td colspan="9">
                            <MudGrid Class="py-5 px-8">
                                <MudItem xs="12" sm="12" md="12" lg="12" xl="12">
                                    <MudText Typo="Typo.subtitle2" Class="mb-3">
                                        <b>Remarks:</b>
                                    </MudText>
                                    <table>
                                        <tr>
                                            <td>
                                                <b>Destination State </b>
                                            </td>
                                            <td>:</td>
                                            <td>@context.DestinationState</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <b>Destination Region </b>
                                            </td>
                                            <td>:</td>
                                            <td>@context.DestinationRegion</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <b>Application Slab Zon </b>
                                            </td>
                                            <td>:</td>
                                            <td>@context.ApplicableSlabZone</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <b>Cost Per Kg </b>
                                            </td>
                                            <td>:</td>
                                            <td>@context.CostPerKg</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <b>1 Ton - 2 CBM </b>
                                            </td>
                                            <td>:</td>
                                            <td>@context.OneTonTwoCbm</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <b>3 Tons - 6 CBM </b>
                                            </td>
                                            <td>:</td>
                                            <td>@context.ThreeTonsSixCbm</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <b>5 Tons - 10 CBM </b>
                                            </td>
                                            <td>:</td>
                                            <td>@context.FiveTonsTemCbm</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <b>7 Tons - 10 CBM </b>
                                            </td>
                                            <td>:</td>
                                            <td>@context.SevenTonsFourteenCbm</td>
                                        </tr>
                                    </table>
                                </MudItem>
                            </MudGrid>
                        </td>
                    </MudTr>
                }
            </ChildRowContent>
            <PagerContent>
                <MudPagination Color="Color.Secondary" SelectedChanged="PageChanged"
                               Count="@((_tableRef.GetFilteredItemsCount() + _tableRef.RowsPerPage - 1) / _tableRef.RowsPerPage)"
                               Class="pa-4"/>
            </PagerContent>
        </MudTable>
    </MudItem>
</MudGrid>
