@page "/"

<style>
    .icon-link:hover {
        cursor: pointer;
        color: blue;
        text-decoration: underline;
    }
    .mud-main-content {
        padding: 10px;
    }
    .mud-container {
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
    }
    .mud-toolbar {
        height: 42px;
    }
    .mud-table-cell {
        font-size: 12px !important;
    }
    .text-blue {
        color: rgb(0, 58, 112);
    }
    .grid-header-col {
        --tw-bg-opacity: 1;background-color: rgba(255, 255, 255);
    }
    .grid-header-col span {
        font-weight:600;
        color: rgb(0, 58, 112);
    }
</style>
@*
<table width="100%" cellpadding="0" cellspacing="0" class="main">
    <tbody>
        <tr>
            <td class="filler10"></td>
        </tr>
        <tr>
            <td class="pgtitle">
                <table cellpadding="0" cellspacing="0" width="100%">
                    <tbody>
                        <tr valign="middle">
                            <td class="pl10">
                                <span id="ctl00_Work_uxTitle">Tools: Customer Communications</span>
                            </td>
                            <td align="right" class="pl10">
                                <table cellpadding="0" cellspacing="0">
                                    <tbody>
                                        <tr valign="middle">
                                            <td>
                                                &nbsp;&nbsp;|&nbsp;&nbsp;
                                            </td>
                                            <td>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td class="filler10"></td>
        </tr>
        <tr id="ctl00_Work_trGrid">
            <td>
            </td>
        </tr>
    </tbody>
</table>*@

<MudDataGrid T="CommunicationDTO" MultiSelection="false" Items="@Elements" @ref="_grid"
             SortMode="MudBlazor.SortMode.Single" Filterable="true" QuickFilter="@_quickFilter" 
             Loading="@isLoading" Dense="true" Hover="true" RowsPerPage="50"
             Hideable="false" RowClick="@RowClicked" SelectedItemsChanged="@SelectedItemsChanged"
             Striped="true" ShowFilterIcons="true" FixedHeader="true" Height="82vh" Bordered="true" >
    <ToolBarContent>

        @*<table cellpadding="0" cellspacing="0" width="100%">
        <tbody>
        <tr valign="middle">
        <td class="pl10">
        <span id="ctl00_Work_uxTitle">Tools: Customer Communications</span>
        </td>
        <td align="right" class="pl10">
        <table cellpadding="0" cellspacing="0">
        <tbody>
        <tr valign="middle">
        <td>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        </td>
        <td>
        </td>
        </tr>
        </tbody>
        </table>
        </td>
        </tr>
        </tbody>
        </table>*@


        @* <div class="d-flex">
            <div class="align-self-center">
                <MudText Typo="Typo.h6">Tools: Customer Communications</MudText>
            </div>
            <div class="d-flex align-items-center ml-auto">
                <MudTextField @bind-Value="_searchString" Placeholder="Search" Adornment="Adornment.Start" Immediate="true"
                            AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0" Style="margin-top: 0px !important"></MudTextField>
                <div class="d-flex align-items-center justify-content-center ml-2 icon-link mt-2">
                    <MudLink OnClick="@(async () => await ExportGridClicked())">
                        <div class="d-flex align-items-center justify-content-center">
                            <MudIcon Icon="@Icons.Custom.FileFormats.FileExcel" Color="@Color.Tertiary" Class="ml-2" Title="Export"></MudIcon>
                        </div>
                    </MudLink>
                    <div class="ml-2"> | </div>
                    <MudLink OnClick="@(async () => await FetchCommunications())">
                        <MudIcon Icon="@Icons.Material.Filled.Refresh" Color="@Color.Tertiary" Class="ml-2" Title="Retain filter & refresh"></MudIcon>
                    </MudLink>
                </div>
            </div>
        </div> *@



        <MudGrid>
            <MudItem class="align-self-center">
                <MudText Typo="Typo.h6">Tools: Customer Communications</MudText>
            </MudItem>
            <MudItem class="d-flex align-items-center ml-auto">
                <MudTextField @bind-Value="_searchString" Placeholder="Search" Adornment="Adornment.Start" Immediate="true"
                              AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0" Style="margin-top: 0px !important"></MudTextField>
                <MudSpacer />
                <div class="d-flex align-items-center justify-content-center ml-2 icon-link mt-2">
                    <MudLink OnClick="@(async () => await ExportGridClicked())">
                        <div class="d-flex align-items-center justify-content-center">
                            <MudIcon Icon="@Icons.Custom.FileFormats.FileExcel" Color="@Color.Tertiary" Class="ml-2" Title="Export"></MudIcon>
                        </div>
                    </MudLink>
                    <MudText Class="ml-2"> | </MudText>
                    <MudLink OnClick="@(async () => await GetCommunicationsList())">
                        <MudIcon Icon="@Icons.Material.Filled.Refresh" Color="@Color.Tertiary" Class="ml-2" Title="Retain filter & refresh"></MudIcon>
                    </MudLink>
                </div>
            </MudItem>
        </MudGrid>

        @* <MudDivider Style="background-color: rgb(68, 125, 174)" />   *@
    </ToolBarContent>
    <ColGroup>
        <col style="width:20%;" />  <!--Letter Type-->
        <col style="width:20%;" />  <!--Utility-->
        <col style="width:8%;" />  <!--Application Count-->
        <col style="width:12%;" />  <!--Action-->
        <col style="width:17%;" />  <!--Letter Generated Date-->
        <col style="width:15%;" />  <!--Letter Generated By-->
        <!--Customer List-->
        <col />
    </ColGroup>
    <Columns>
        <PropertyColumn Property="x => x.TemplateName" Title="Letter Type" ShowColumnOptions="false"
                        HeaderClass="grid-header-col">
            <HeaderTemplate>
                <span>Letter Type</span>
            </HeaderTemplate>
        </PropertyColumn>
        <PropertyColumn Property="x => x.CompanyName" Title="Utility" ShowColumnOptions="false"
                        HeaderClass="grid-header-col">
            <HeaderTemplate>
                <span>Utility</span>
            </HeaderTemplate>
        </PropertyColumn>
        <PropertyColumn Property="x => x.CountofApplications" Title="Application Count" ShowColumnOptions="false"
                        HeaderClass="grid-header-col">
            <HeaderTemplate>
                <span>Application Count</span>
            </HeaderTemplate>
        </PropertyColumn>
        <TemplateColumn Title="Action" Filterable="false" Sortable="false"
                        HeaderClass="grid-header-col">
            <HeaderTemplate>
                <span>Action</span>
            </HeaderTemplate>
            <CellTemplate>
                <MudStack Row>
                    @if (context.Item?.IsProcessing == true)
                    {
                        <MudProgressLinear Color="Color.Primary" Class="text-green-600" Style="text-green-600" Indeterminate="true">
                        </MudProgressLinear>
                    }
                    @if (context.Item?.IsProcessing == false)
                    {
                        if (context.Item?.ActionText?.StartsWith("Generate") == true)
                        {
                            <MudLink Typo="Typo.body2" DataLabel="Actual File Name" Href="javascript:void(0);" OnClick="@(async () => await ProcessLetterGeneration(context.Item))" Underline="Underline.Always">@context.Item.ActionText</MudLink>
                        }
                        else
                        {
                            <MudLink Typo="Typo.body2" DataLabel="Actual File Name" Href="javascript:void(0);" OnClick="@(async () => await DownloadSourceFile(context.Item))" Underline="Underline.Always">@context.Item?.ActionText</MudLink>
                        }
                    }
                </MudStack>
            </CellTemplate>
        </TemplateColumn>
        <PropertyColumn Property="x => x.GeneratedDate" Title="Letter Generated Date" ShowColumnOptions="false"
                        HeaderClass="grid-header-col">
            <HeaderTemplate>
                <span>Letter Generated Date</span>
            </HeaderTemplate>
            <CellTemplate>
                <MudText Typo="Typo.body2">@context.Item?.GeneratedDate?.ToString("MM/dd/yyyy")</MudText>
            </CellTemplate>
        </PropertyColumn>
        <PropertyColumn Property="x => x.GeneratedBy" Title="Letter Generated by" ShowColumnOptions="false"
                        HeaderClass="grid-header-col">
            <HeaderTemplate>
                <span>Letter Generated by</span>
            </HeaderTemplate>
        </PropertyColumn>
        <TemplateColumn Title="Customer List" Filterable="false" Sortable="false" CellStyle="text-align: center;"
                        HeaderClass="grid-header-col">
            <HeaderTemplate>
                <span>Customer List (xlsx)</span>
            </HeaderTemplate>
            <CellTemplate>
                <MudStack Row>
                    <MudLink Typo="Typo.body2" DataLabel="Actual File Name" Href="javascript:void(0);" OnClick="@(async () => await DownloadExcel(context.Item))" Underline="Underline.Always">Export</MudLink>
                </MudStack>
            </CellTemplate>
        </TemplateColumn>
    </Columns>
    <LoadingContent>
        <MudText Typo="Typo.body2" Class="mt-4 mud-text-secondary font-bold">Loading Customer Communications...</MudText>
    </LoadingContent>
    <PagerContent>
        <MudDataGridPager T="CommunicationDTO" />
    </PagerContent>
</MudDataGrid>

@*<div class="d-flex flex-wrap mt-4">
    <MudSwitch @bind-Checked="@_sortNameByLength" Color="Color.Primary">Sort Name Column By Length</MudSwitch>
</div>

<MudExpansionPanels Style="flex:1">
    <MudExpansionPanel Text="Show Events">
        @foreach (var message in _events)
        {
            <MudText Typo="@Typo.body2">@message</MudText>
        }
        @if (_events.Count > 0)
        {
            <div class="d-flex">
                <MudSpacer />
                <MudButton Class="mt-3" ButtonType="MudBlazor.ButtonType.Button" Variant="Variant.Filled" OnClick="@(() => _events.Clear())">Clear</MudButton>
            </div>
        }
    </MudExpansionPanel>
</MudExpansionPanels>*@
